<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>{{ page.title }}</title>
        <!-- Le styles -->
        <link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ site.url }}/css/bootstrap-responsive.min.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }

            @media (max-width: 980px) {
                /* Enable use of floated navbar text */
                .navbar-text.pull-right {
                    float: none;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        </style>
        

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="{{ site.url }}/js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
{% for item in site.drj_content_map_for_root %}
                        <span class="icon-bar"></span>
{% endfor %}
                    </button>
                    <a class="brand" href="{{site.url}}">{{site.name}}</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
{% assign split_url = page.url | split:'/' %}
{% assign split_url_limit = split_url | size | minus: 1 %}
{% if split_url_limit > 1 %}{% assign split_url_limit = 2 %}{% endif %}
{% for item in split_url limit: split_url_limit %}
  {% assign url_part = item | remove:'.html' %}
{% endfor %}

{% for item in site.drj_content_map_for_root %}
                            <li{% if item[0] == url_part %} class="active"{% endif %}><a href="{{site.url}}/{{item[0]}}">{{item[1].title}}</a></li>
{% endfor %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

{% assign for_api_split_url_limit = 4 %}

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <div class="sidebar-nav well" style="padding-top: 0;">
                        <ul class="breadcrumb" style="margin-bottom: 0; background-color:white;">
{% comment %}...{% endcomment %}
                            <li><i class="icon-time"></i></li>
{% assign current_node = nil %}
{% assign current_child = site.drj_content_map %}
{% assign current_path = "" %}

{% assign split_url = page.url | split:'/' %}
{% for item in split_url %}
  {% assign url_part = item | remove:'.html' %}
  {% assign current_node = current_child[url_part] %}
  {% assign current_child = current_node["_child"] %}
  {% assign current_path = current_path | append: url_part | append: "/" %}

  {% unless forloop.last %}
    {% if forloop.rindex0 > 1 %}
                            <li><a href="{{ site.url }}{{current_path}}">{{current_child.index.title}}</a> <span class="divider">/</span></li>
    {% endif %}
  {% else %}
                            <li class="active">{{current_node.title}}</li>
  {% endunless %}
{% endfor %}
                        </ul>

                        <hr style="margin: 0 auto 8px;">

                        <ul class="nav nav-list">
{% comment %}Navigation!{% endcomment %}
{% case page.drj_type %}

{% when 'api-ref' %}{% comment %}for API Reference{% endcomment %}
  {% assign current_node = nil %}
  {% assign current_child = site.drj_content_map %}
  {% assign current_api = '' %}
  {% assign current_path = "" %}

  {% assign split_url = page.url | split:'/' %}
  {% assign split_url_limit = for_api_split_url_limit %}
  {% for item in split_url limit: split_url_limit %}
    {% assign url_part = item | remove:'.html' %}
    {% assign current_node = current_child[url_part] %}
    {% assign current_child = current_node["_child"] %}
    {% assign current_api = url_part %}
    {% assign current_path = current_path | append: url_part | append: "/" %}
  {% endfor %}
                            <li class="nav-header"><i class="icon-leaf"></i>API Reference</li>
  {% for api in site.drj_api_map %}
    {% if api[0] == current_api %}
                            <li class="active"><a href="{{ site.url }}{{ site.drj_api_ref }}/{{ api[0] }}">{{ api[0] }}</a></li>
                            <ul class="nav nav-list">
      {% for entry in api[1] %}
        {% assign filename = entry.name | append:'.html' %}
        {% assign selfname = page.url | split:'/' | last %}
                                <li><a href="{{ site.url }}{{ current_path }}{{entry.type}}/{{filename}}">{% if filename == selfname %}<i class="icon-arrow-right"></i>{% endif %}{{entry.name}}</a></li>
      {% endfor %}
                            </ul>
    {% else %}
                            <li><a href="{{ site.url }}{{ site.drj_api_ref }}/{{ api[0] }}">{{ api[0] }}</a></li>
    {% endif %}
  {% endfor %}


{% else %}{% comment %}for Default{% endcomment %}
  {% assign current_node = nil %}
  {% assign current_child = site.drj_content_map %}
  {% assign current_path = "" %}

  {% assign split_url = page.url | split:'/' %}
  {% assign split_url_limit = split_url | size | minus: 1%}
  {% for item in split_url limit: split_url_limit %}
    {% assign url_part = item | remove:'.html' %}
    {% assign current_node = current_child[url_part] %}
    {% assign current_child = current_node["_child"] %}
    {% assign current_path = current_path | append: url_part | append: "/" %}

  {% endfor %}
                            <li class="nav-header"><i class="icon-leaf"></i>Content</li>
  {% for item in current_child %}
    {% if item[1]._child %}
                            <li><a href="{{ site.url }}{{current_path}}{{item[0]}}">{{item[1]._child.index.title}}</a></li>
    {% endif %}
  {% endfor %}


{% endcase %}
                        </ul>
                    </div><!--/.sidebar-nav -->
                </div><!--/span2-->


                <div class="span10">
{{ content }}
                </div>

            </div>
        </div><!--/.container -->

        <script src="{{ site.url }}/js/jquery-1.9.1.min.js"></script>
        <script src="{{ site.url }}/js/bootstrap.min.js"></script>
    </body>
</html>
